[Unit]
Description=Sonarqube in a Docker container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start -a sonarqube-server
ExecStop=/usr/bin/docker stop -t 2 sonarqube-server

[Install]
WantedBy=default.target
